.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
	color: white;
}

body {
	background: #F1F1F1;
}

.content {
	background: #F1F1F1;
}

.catalogue {
	
}

.cart {
	border-left: 1px solid #333;
}