<div layout="row" layout-padding layout-margin>
	
	<div flex>
		<h1>Order Status</h1>
		
		<md-card>
			<md-table-container>
			  <table md-table>
			    <thead md-head>
			      <tr md-row>
			        <th md-column><span>Id</span></th>
			        <th md-column><span>Tracking Number</span></th>
			        <th md-column><span>Status</span></th>
			        <th md-column><span>Actions</span></th>
			      </tr>
			    </thead>
			    <tbody md-body>
			      <tr md-row ng-repeat="order in orders">
			        <td md-cell>{{order.id}}</td>
			        <td md-cell>{{order.trackingNumber}}</td>
			        <td md-cell>{{order.status}}</td>
			        <td md-cell>
			        	<md-button class="md-icon-button" ui-sref="adminOrder({ id: order.id })">
			        		<md-icon class="material-icons">pageview</md-icon>
			        		<md-tooltip>View Order</md-tooltip>
			        	</md-button>
			        </td>
			      </tr>
			    </tbody>
			  </table>
			</md-table-container>
		</md-card>
	</div>
</div>